<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/person.js}"></script>
<link th:href="@{/css/person.css}" rel="stylesheet">
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=be0033b34b86f49ed93917c0a16b1277&plugin=AMap.PolyEditor,AMap.CircleEditor,AMap.GraspRoad,AMap.ToolBar"></script>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-info">
				<form id="role-form">
					<div class="select-list gd">
						<ul>
							<!--
							<li>
								角色名称：<input type="text" name="roleName"/>
							</li>
							<li>
								权限字符：<input type="text" name="roleKey"/>
							</li>
							-->
							<li>
								区域：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
									<option value="">所有</option>
									<option th:each="e : ${type}" th:text="${e['dictLabel']}" th:value="${e['dictValue']}"></option>
								</select>
							</li>
							<li class="time">
								<label>创建时间： </label>
								<input type="text" class="layui-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="layui-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search($('form').attr('id'))"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-success btn-rounded btn-sm" onclick="$.table.exportExcel($('form').attr('id'))"><i class="fa fa-download"></i>&nbsp;下载</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<!--
			<div class="btn-group hidden-xs" id="toolbar" role="group">
				<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="system:role:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.batRemove()" shiro:hasPermission="system:role:remove">
		            <i class="fa fa-trash-o"></i> 删除
		        </a>
	        </div>
	        -->

	        <div class="col-sm-12 select-info table-striped" style="height:550px">
				<!--
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			    -->
				<div id="container" style="height:520px">

					134567
				</div>

				<div class="button-group">

					<input type="button" class="button" value="开始编辑折线" onClick="editor.startEditLine()"/>
					<input type="button" class="button" value="结束编辑折线" onClick="editor.closeEditLine()"/>

					<input type="button" class="button" value="开始编辑UR1" onClick="editor.startEditPolygon()"/>
					<input type="button" class="button" value="结束编辑UR1" onClick="editor.closeEditPolygon()"/>

					<input type="button" class="button" value="开始编辑UR2" onClick="editor.startEditPolygon2()"/>
					<input type="button" class="button" value="结束编辑UR2" onClick="editor.closeEditPolygon2()"/>

					<input type="button" class="button" value="直线距离" onClick="walklineDistance()"/>
					<input type="button" class="button" value="步行路线" onClick=""/>
					<input type="button" class="button" value="驾车路线" onClick=""/>
				</div>
			</div>

		</div>
	</div>
	<!--
	<div th:include="include :: footer"></div>
	-->

	<script th:inline="javascript">


		alert($("#container").html());

        var  data =[[${ListPerson}]];

        var default_arr = [data[0].longitude, data[0].latitude];

        var editorTool, map = new AMap.Map("container", {
            resizeEnable: true,
            center: default_arr, //地图中心点
            zoom: 13 //地图显示的缩放级别
        });
        /**
         *             [121.46980797294428, 31.224582803237602],
         [121.48324572416972, 31.238221750946757],
         [121.48329150361512, 31.238958826715166],
         [121.480471, 31.240649]
         * @type {{}}
         */
        var routline_arr = [
            [121.46980797294428, 31.224582803237602],
            [121.47638937951736, 31.233033345820992],
            [121.480471, 31.240649],
            [121.4796227457598, 31.242179964496177]
        ];

        Person.change();

        Person.addwindowsinfo(routline_arr);   //加载信息窗体

        Person.lineDistance(routline_arr);     //路线距离

        //Person.drivingDistance();

        Person.ployonEditorDraw(routline_arr);  //编辑多边形

        Person.setCenterZoom(routline_arr);    //设置中心点和缩放大小

	</script>

	<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>

	<!--
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:role:edit')}]];
		var removeFlag = [[${@permission.hasPermi('system:role:remove')}]];
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var prefix = ctx + "system/role"
		

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "roleSort",
		        modalName: "角色",
		        search: false,
		        showExport: false,
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'roleId',
		            title: '角色编号'
		        },
		        {
		            field: 'roleName',
		            title: '角色名称',
		            sortable: true
		        },
		        {
		            field: 'roleKey',
		            title: '权限字符',
		            sortable: true
		        },
		        {
		            field: 'roleSort',
		            title: '显示顺序',
		            sortable: true
		        },
		        {
		            field: 'status',
		            title: '状态',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
		        },
		        {
		            field: 'createTime',
		            title: '创建时间',
		            sortable: true
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.roleId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.roleId + '\')"><i class="fa fa-remove"></i>删除</a>');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
	</script>
	-->
</body>
</html>